* {
    box-sizing: border-box;
}

html {

    /*        background: #8BA791;*/
    background: #FCFCF5;


}

body {
    /*    background: #fff;*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: "Andale Mono MT", AndaleMono, monospace;
    font-size: 12.5px;
    line-height: 1.3;
    padding: 0px;
    margin: 0px;
    /*    overflow: hidden;*/
}

a {
    /*color: indianred;*/
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    /*color: black;*/
    text-decoration: none;
}

.row-1 {
    /*    background-color: white;*/
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 190px;
    overflow: hidden;
}

.name {
    width: 20%;
    float: left;
    height: 200px;
    position: relative;

}

.bio {
    width: 40%;
    height: 200px;
    float: left;
    position: relative;

}

.enquire {
    text-align: center;
    width: 20%;
    height: 200px;
    float: left;
    position: relative;

}

.contact {
    width: 20%;
    height: 200px;
    float: left;
    position: relative;
    text-align: right;

}


.music-column {

    float: left;
    width: 30%;
    margin-top: 10px;
    /*height: 400px;*/
    overflow: auto;
    padding-top: 10px;
    padding-left: 10%;
}

.titles {
    padding-left: 3%;
    padding-top: 8%;
    padding-bottom: 20px;
    width: 100%;
    /*    height: 100px;*/
    float: left;
    position: relative;
}


.tracklist {
    padding-left: 20%;
    /*    width: auto;*/
    /*    height: 500px;*/
    float: left;
    position: relative;
}


/*
.row-3 {

    margin-top: 0px;

    overflow: auto;
    padding: 10px;
}
*/


img {
    width: 94%;
    height: 94%;

}







.mobile-footer {
    display: none;
}



/*mobile*/

@media only screen and (max-width: 1024px) {

    body {
padding: 40px;
    }

    .row-1 {
        height: 300px;
    }


    .name {
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: center;
    }

    .bio {
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        text-align: center;
    }

    .enquire {
        display: none;

    }

    .contact {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    
        img {
        width: 60%;
        height: 60%;
        float: center;
        margin: 0px;
        padding: 0px;
    }

    .music-column {
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        padding: 0px;
    }


    


.titles {
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    width: 100%;
    float: left;
    position: relative;
}


.tracklist {
    width: 100%;
    padding: 0px;
}
    


    .mobile-footer {
        display: block;
        text-align: center;
        font-size: 24px;
    }
}